.buttons {
  display: flex;
  margin-top: 20px;
}

button {
  margin: 0 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 10%;
  font-family: Montserrat;
}

#inserirBtn {
  background-color: #EE577C;
  /* Rosa */
  color: white;
}

#removerBtn {
  background-color: #19B39A;
  /* Verde */
  color: white;
}

#procurarBtn {
  background-color: #9655B4;
  /* Lilás */
  color: white;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}