.estruturaFilas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Estilização do contêiner da fila para exibição em linha */
#stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-top: 20px;
    align-items: center;
} 

/* Estilização dos quadrados/blocos vinculados ao .JS de vetor, pilhas e etc.. */
.square {
    width: 70px;
    height: 70px;
    background-color: #F0A941;
    margin: 5px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
