@import url(/assets/css/pilhas.css);
@import url(/assets/css/vetor.css);
@import url(/assets/css/listas.css);
@import url(/assets/css/heaps.css);
@import url(/assets/css/grafos.css);
@import url(/assets/css/arvores.css);
@import url(/assets/css/hashtables.css);
@import url(/assets/css/filas.css);
@import url(/assets/css/style.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

:root {
  /* Light */
  --color-light-50: #f8fafc;

  /* Dark */
  --color-dark-50: #797984;
  --color-dark-100: #242424;
  --color-dark-900: #000;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Mode */
.dark#index_page {
  color: var(--color-light-50);
  background-color: var(--color-dark-100);
  animation: light-to-dark-background 0.3s ease-in-out;
}

.dark#index_page .dark-light {
  color: var(--color-light-50);
}

.dark#index_page .light-dark {
  color: var(--color-dark-900);
}

.dark#index_page .bg-light-dark {
  background-color: var(--color-dark-100);
}

.dark#index_page .bg-dark-light {
  background-color: var(--color-light-50);
}

.banner {
  width: 100%;
  height: auto;

}

/* Cards dos Conceitos Iniciais */
.cards {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.conceito-1 {
  width: 575px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #D1D1D1;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
}

.conceito-2 {
  margin-left: 5%;
  width: 575px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #D1D1D1;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
}

.estrutura-style{
  margin: 10px;
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragrafo-style {
  padding: 25px;
  display: flex;
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Footer*/
.footer {
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  position: absolute;
}

.text-footer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* altura do rodapé */
}

/* Responsividade */
@media screen and (min-width: 50px) and (max-width: 500px) {
  #central-cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: 100px) and (max-width: 640px) {
  #display-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}